experience-bar {
    progress {
        display: block;
        -webkit-appearance: none;
        height: 18px;
    }
    progress::-webkit-progress-bar {
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        border-radius: 50px;
        padding: 2px;
    }
    progress::-moz-progress-bar {
        background: #ddccdd;
        border-radius: 50px;
        padding: 2px;
    }
    progress::-webkit-progress-value {
        border-radius: 50px;
        background: map-get($colors, primary);
    }
}